/* ==========================================================================
   Link-specific utilities
   ========================================================================== */

/**
 * Variables
 *
 * It is recommended to override these.
 *
 * 1. Namespace of bits.css's classes.
 */

$bits-ns: 'bits-' !default; /* 1 */

/**
 * Clean link
 *
 * A link without any text-decoration at all.
 */

.#{$bits-ns}u-linkClean,
.#{$bits-ns}u-linkClean:hover,
.#{$bits-ns}u-linkClean:focus,
.#{$bits-ns}u-linkClean:active {
  text-decoration: none;
}

/**
 * Link complex
 *
 * A common pattern is to have a link with several pieces of text and/or an
 * icon, where only one piece of text should display the underline when the
 * link is the subject of user interaction.
 *
 * --------------
 * Example usage:
 *
 * <a class="u-linkComplex" href="#">
 *   Link complex
 *   <span class="u-linkComplex-target">target</span>
 * </a>
 */

.#{$bits-ns}u-linkComplex,
.#{$bits-ns}u-linkComplex:hover,
.#{$bits-ns}u-linkComplex:focus,
.#{$bits-ns}u-linkComplex:active {
  text-decoration: none;
}

.#{$bits-ns}u-linkComplex:hover .#{$bits-ns}u-linkComplex-target,
.#{$bits-ns}u-linkComplex:focus .#{$bits-ns}u-linkComplex-target,
.#{$bits-ns}u-linkComplex:active .#{$bits-ns}u-linkComplex-target {
  text-decoration: underline;
}

/**
 * Block-level link
 *
 * Combination of traits commonly used in vertical navigation lists.
 */

.#{$bits-ns}u-linkBlock,
.#{$bits-ns}u-linkBlock:hover,
.#{$bits-ns}u-linkBlock:focus,
.#{$bits-ns}u-linkBlock:active {
  display: block;
  text-decoration: none;
}

/**
 * Pseudo-link
 *
 * Another interactive element, e.g., `button`, styled to look like an anchor.
 * Relies on the use of a placeholder anchor (and ideally ARIA).
 *
 * --------------
 * Example usage:
 *
 * <button class="u-linkPseudo">
 *   <a role="presentation">Button content</a>
 * </button>
 */

.#{$bits-ns}u-linkPseudo {
  display: inline;
  padding: 0;
  border: 0;
  margin: 0;
  background: transparent;
  color: inherit;
  cursor: pointer;
  font: inherit;
}

.#{$bits-ns}u-linkPseudo:hover,
.#{$bits-ns}u-linkPseudo:focus,
.#{$bits-ns}u-linkPseudo:active {
  background: transparent;
  color: inherit;
}