/* ==========================================================================
   Link-specific utilities
   ========================================================================== */

/* Variables
   ========================================================================== */

/**
 * Bits.sass utilities namespace
 */

$bits-utils-ns: 'bits-' !default;

/* Utilities
   ========================================================================== */

/**
 * Link without any text-decoration.
 */

.#{$bits-utils-ns}u-linkClean {
  &,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none !important;
  }
}

/**
 * Complex link
 *
 * A common pattern is to have a link with several pieces of text and/or an
 * icon, where only one piece of text should display the underline when the
 * link is the subject of user interaction.
 *
 * Example HTML:
 *
 * <a class="u-linkComplex" href="#">
 *   Link complex
 *   <span class="u-linkComplex-target">target</span>
 * </a>
 */

.#{$bits-utils-ns}u-linkComplex {
  text-decoration: none !important;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none !important;

    .#{$bits-utils-ns}u-linkComplex-target {
      text-decoration: underline !important;
    }
  }
}

/**
 * Block-level link
 *
 * Combination of traits commonly used in vertical navigation lists.
 */

.#{$bits-utils-ns}u-linkBlock {
  &,
  &:hover,
  &:focus,
  &:active {
    display: block !important;
    text-decoration: none !important;
  }
}

/**
 * Pseudo-link
 *
 * Another interactive element, e.g., `button`, styled to look like an anchor.
 * Relies on the use of a placeholder anchor (and ideally ARIA).
 *
 * Example HTML:
 *
 * <button class="u-linkPseudo">
 *   <a role="presentation">Button content</a>
 * </button>
 */

.#{$bits-utils-ns}u-linkPseudo {
  cursor: pointer !important;

  display: inline !important;
  margin: 0 !important;
  padding: 0 !important;

  color: inherit !important;
  font: inherit !important;

  border: 0 !important;
  background: transparent !important;

  &:hover,
  &:focus,
  &:active {
    color: inherit !important;
    background: transparent !important;
  }
}